  @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Englebert&family=Martel+Sans:wght@200&family=Ubuntu:wght@300&display=swap');

  * {
      padding: 0px;
      margin: 0px;
     
  }

  .main {
      background-image: url(assets/images/bg.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: max(1200px, 100vw);
      height: 49.7vw;
      position: relative;
  }

  body {
      background-color: #000000;
  }

  .main .box {
      opacity: 0.69;
      height: 49.7vw;
      width: 500%;
      background-color: #000000;
      position: absolute;
      top: 0;

  }

  nav {
      display: flex;
      align-items: center;
      justify-content: space-around;;
      padding: 10px 0px;
      /* background-color: #000000; */
      height: 5vw;
      min-width: 100vw;
      margin: 0px;
      /* z-index: 10; */
      /* position: relative; */

  }


  nav img {
      color: red;
      position: relative;
      width: 130px;
      z-index: 10;
  }

  nav button {
      position: relative;
      z-index: 10;
  }

  .title {
      height: calc(100% - 0vw);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
      font-family: 'Poppins', sans-serif;
      gap: 40px;
      /* opacity: 0.8; */
      padding: 0px 30px;
      position: relative;

  }

  .title> :first-child {
      font-weight: bolder;
      font-size: 48px;

  }

  .title> :nth-child(2) {
      font-weight: bold;
      font-size: 24px;

  }

  .title> :nth-child(3) {
      /* font-weight: bold; */
      font-size: 20px;

  }

  .main input {
      font-size: 13px;
      padding: 15px 35px;
      border-radius: 4px;
      background-color: rgba(23, 23, 23, 0.7);
      border: 1px solid rgba(246, 238, 238, 0.5);
      color: white;
  }

  .main input:hover {
      cursor: text;
      transition: all 0.7s ease;
      border: 2px solid darkgrey;
  }

  .title-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;


  }

  .separation {
      height: 5px;
      background-color: rgb(46, 44, 44);
      /* opacity: 0.5; */
      position: relative;
      z-index: 10;
  }

  .btn {
      background-color: rgba(248, 243, 243, 0.021);
      padding: 7px 11px;
      border-radius: 4px;
      font-weight: bold;
      color: white;
      font-size: 1.2em;
      margin: 10px;
      cursor: pointer;
      border: 1px solid grey;
      z-index: 10;

  }

  .btn:hover {
      transition: all 0.7s ease;
      border: 3px solid white;

  }

  .btn-red {
      background-color: red;
      color: white;
      font-weight: bold;
  }

  .btn-red:hover {
      cursor: pointer;
      transition: all 0.7s ease;
      background-color: rgb(193, 17, 25);
  }

  .btn-red-sm {
      background-color: red;
      color: white;
      font-weight: bold;
  }

  .btn-red-sm:hover {
      cursor: pointer;
      transition: all 0.7s ease;
      background-color: rgb(193, 17, 25);
  }

  .first {
      display: flex;
      justify-content: center;
      max-width: 80vw;
      margin: auto;
      color: white;
      justify-content: center;
      align-items: center;
  }

  .secImg {
      position: relative;
  }

  .secImg img {
      padding: 5px;
      width: 30vw;
      position: relative;
      z-index: 10;

  }

  .secImg video {
      position: absolute;
      top: 72px;
      left: 69px;
      max-width: 25vw;
  }

  section.first>div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 20px;

  }

  .first>div :first-child {
      font-size: 1rem;
      font-weight: bold;
      color: white;
  }

  .first>div :nth-child(2) {
      font-size: 20px;
      color: white;
  }

/* Login css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #000;
}

body::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.69;
    width: 100%;
    height: 100%;
    background: url("assets/images/bg.jpg");
    background-position: center;
}

nav {
    position: fixed;
    padding: 25px 60px;
    z-index: 1;
}

nav a img {
    width: 167px;
}

.form-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    padding: 70px;
    width: 450px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .75);
}

.form-wrapper h2 {
    color: #fff;
    font-size: 2rem;
}

.form-wrapper form {
    margin: 25px 0 65px;
}

form .form-control {
    height: 50px;
    position: relative;
    margin-bottom: 16px;
}

.form-control input {
    height: 100%;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    padding: 0 20px;
}

.form-control input:is(:focus, :valid) {
    background: #444;
    padding: 16px 20px 0;
}

.form-control label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    color: #8c8c8c;
    transition: all 0.1s ease;
}

.form-control input:is(:focus, :valid)~label {
    font-size: 0.75rem;
    transform: translateY(-130%);
}

form button {
    width: 100%;
    padding: 16px 0;
    font-size: 1rem;
    background: #e50914;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    outline: none;
    margin: 25px 0 10px;
    cursor: pointer;
    transition: 0.1s ease;
}

form button:hover {
    background: #c40812;
}

.form-wrapper a {
    text-decoration: none;
}

.form-wrapper a:hover {
    text-decoration: underline;
}

.form-wrapper :where(label, p, small, a) {
    color: #b3b3b3;
}

form .form-help {
    display: flex;
    justify-content: space-between;
}

form .remember-me {
    display: flex;
}

form .remember-me input {
    margin-right: 5px;
    accent-color: #b3b3b3;
}

form .form-help :where(label, a) {
    font-size: 0.9rem;
}

.form-wrapper p a {
    color: #fff;
}

.form-wrapper small {
    display: block;
    margin-top: 15px;
    color: #b3b3b3;
}

.form-wrapper small a {
    color: #0071eb;
}

@media (max-width: 740px) {
    body::before {
        display: none;
    }

    nav, .form-wrapper {
        padding: 20px;
    }

    nav a img {
        width: 140px;
    }

    .form-wrapper {
        width: 100%;
        top: 43%;
    }

    .form-wrapper form {
        margin: 25px 0 40px;
    }
}